APP_NAME=Fintech
COMPANY_NAME=Upfinzo
PORT=5001
NODE_ENV=development
JWT_SECRET=Upfinzo_2025
JWT_EXPIRES_IN=1h

FRONTEND_URL=http://127.0.0.1:5001

CURRENT_VERSION=v1
ROOT_PATH=../
VERSION_PATH=../../

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hemang@upfinzo.in
SMTP_PASS=appassword

MONGO_URI=mongodb+srv://fintech:Upfinzo_Fintech2025@cluster0.ohiugxe.mongodb.net/?appName=Cluster0