

:root,
[data-bs-theme=light] {
  --bs-blue: #26c6f9;
  --bs-indigo: #666cff;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4d49;
  --bs-orange: #fdb528;
  --bs-yellow: #ffd950;
  --bs-green: #72e128;
  --bs-teal: #20c997;
  --bs-cyan: #28c3d7;
  --bs-black: #262b43;
  --bs-white: #fff;
  --bs-gray: #7d808e;
  --bs-gray-dark: #515569;
  --bs-gray-25: #fafafa;
  --bs-gray-50: #f2f3f4;
  --bs-gray-75: #eeeef0;
  --bs-gray-100: #e9e9ec;
  --bs-gray-200: #d4d5d9;
  --bs-gray-300: #bdbfc6;
  --bs-gray-400: #a8aab4;
  --bs-gray-500: #9295a1;
  --bs-gray-600: #7d808e;
  --bs-gray-700: #676a7b;
  --bs-gray-800: #515569;
  --bs-gray-900: #3b4055;
  --bs-primary: #666cff;
  --bs-secondary: #6d788d;
  --bs-success: #72e128;
  --bs-info: #26c6f9;
  --bs-warning: #fdb528;
  --bs-danger: #ff4d49;
  --bs-light: #dfdfe3;
  --bs-dark: #312d4b;
  --bs-gray: #e9e9ec;
  --bs-primary-rgb: 102, 108, 255;
  --bs-secondary-rgb: 109, 120, 141;
  --bs-success-rgb: 114, 225, 40;
  --bs-info-rgb: 38, 198, 249;
  --bs-warning-rgb: 253, 181, 40;
  --bs-danger-rgb: 255, 77, 73;
  --bs-light-rgb: 223, 223, 227;
  --bs-dark-rgb: 49, 45, 75;
  --bs-gray-rgb: 233, 233, 236;
  --bs-primary-text-emphasis: #292b66;
  --bs-secondary-text-emphasis: #2c3038;
  --bs-success-text-emphasis: #2e5a10;
  --bs-info-text-emphasis: #0f4f64;
  --bs-warning-text-emphasis: #654810;
  --bs-danger-text-emphasis: #661f1d;
  --bs-light-text-emphasis: #676a7b;
  --bs-dark-text-emphasis: #676a7b;
  --bs-primary-bg-subtle: #e7e7ff;
  --bs-secondary-bg-subtle: #e8e9ed;
  --bs-success-bg-subtle: #e8fadd;
  --bs-info-bg-subtle: #dcf6fe;
  --bs-warning-bg-subtle: #fff3dd;
  --bs-danger-bg-subtle: #ffe3e2;
  --bs-light-bg-subtle: #f4f4f6;
  --bs-dark-bg-subtle: #dedde2;
  --bs-primary-border-subtle: #c3c6ff;
  --bs-secondary-border-subtle: #c6cad3;
  --bs-success-border-subtle: #c8f3ab;
  --bs-info-border-subtle: #aae9fd;
  --bs-warning-border-subtle: #fee2ab;
  --bs-danger-border-subtle: #ffbab8;
  --bs-light-border-subtle: #d4d5d9;
  --bs-dark-border-subtle: #afadb9;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 38, 43, 67;
  --bs-font-sans-serif: "Inter", -apple-system, blinkmacsystemfont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-monospace: "SFMono-Regular", menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.375;
  --bs-body-color: #676a7b;
  --bs-body-color-rgb: 103, 106, 123;
  --bs-body-bg: #f7f7f9;
  --bs-body-bg-rgb: 247, 247, 249;
  --bs-emphasis-color: #262b43;
  --bs-emphasis-color-rgb: 38, 43, 67;
  --bs-secondary-color: #a8aab4;
  --bs-secondary-color-rgb: 168, 170, 180;
  --bs-secondary-bg: #d4d5d9;
  --bs-secondary-bg-rgb: 212, 213, 217;
  --bs-tertiary-color: rgba(103, 106, 123, 0.5);
  --bs-tertiary-color-rgb: 103, 106, 123;
  --bs-tertiary-bg: #dfdfe3;
  --bs-tertiary-bg-rgb: 223, 223, 227;
  --bs-heading-color: color-mix(in sRGB, #262b43 90%, #fff);
  --bs-link-color: #666cff;
  --bs-link-color-rgb: 102, 108, 255;
  --bs-link-decoration: none;
  --bs-link-hover-color: #5c61e6;
  --bs-link-hover-color-rgb: 92, 97, 230;
  --bs-code-color: #e83e8c;
  --bs-highlight-color: #676a7b;
  --bs-highlight-bg: #fff7dc;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: color-mix(in sRGB, #262b43 12%, #fff);
  --bs-border-color-translucent: rgba(38, 43, 67, 0.075);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.625rem;
  --bs-border-radius-xxl: 1rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.25rem 0.875rem 0 rgba(38, 43, 67, 0.16);
  --bs-box-shadow-sm: 0 0.125rem 0.625rem 0 rgba(38, 43, 67, 0.16);
  --bs-box-shadow-lg: 0 0.375rem 1.25rem 0 rgba(38, 43, 67, 0.18);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(38, 43, 67, 0.075);
  --bs-focus-ring-width: 0.15rem;
  --bs-focus-ring-opacity: 0.75;
  --bs-focus-ring-color: rgba(103, 106, 123, 0.75);
  --bs-form-valid-color: #72e128;
  --bs-form-valid-border-color: #72e128;
  --bs-form-invalid-color: #ff4d49;
  --bs-form-invalid-border-color: #ff4d49;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #b2b3ca;
  --bs-body-color-rgb: 178, 179, 202;
  --bs-body-bg: #282a42;
  --bs-body-bg-rgb: 40, 42, 66;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: #7b7d95;
  --bs-secondary-color-rgb: 123, 125, 149;
  --bs-secondary-bg: #555871;
  --bs-secondary-bg-rgb: 85, 88, 113;
  --bs-tertiary-color: rgba(178, 179, 202, 0.5);
  --bs-tertiary-color-rgb: 178, 179, 202;
  --bs-tertiary-bg: #40435d;
  --bs-tertiary-bg-rgb: 64, 67, 93;
  --bs-primary-text-emphasis: #a3a7ff;
  --bs-secondary-text-emphasis: #a7aebb;
  --bs-success-text-emphasis: #aaed7e;
  --bs-info-text-emphasis: #7dddfb;
  --bs-warning-text-emphasis: #fed37e;
  --bs-danger-text-emphasis: #ff9492;
  --bs-light-text-emphasis: #b2b3ca;
  --bs-dark-text-emphasis: #eaeaff;
  --bs-primary-bg-subtle: #393c6a;
  --bs-secondary-bg-subtle: #3a3e58;
  --bs-success-bg-subtle: #3b4f48;
  --bs-info-bg-subtle: #2e4b69;
  --bs-warning-bg-subtle: #514848;
  --bs-danger-bg-subtle: #51374d;
  --bs-light-bg-subtle: #343650;
  --bs-dark-bg-subtle: #393c5b;
  --bs-primary-border-subtle: #5358c1;
  --bs-secondary-border-subtle: #586077;
  --bs-success-border-subtle: #5ba435;
  --bs-info-border-subtle: #2a93bd;
  --bs-warning-border-subtle: #b58835;
  --bs-danger-border-subtle: #b7444b;
  --bs-light-border-subtle: #3e3e56;
  --bs-dark-border-subtle: #565881;
  --bs-heading-color: color-mix(in sRGB, #eaeaff 90%, #30334e);
  --bs-link-color: #a3a7ff;
  --bs-link-hover-color: #acb0ff;
  --bs-link-color-rgb: 163, 167, 255;
  --bs-link-hover-color-rgb: 172, 176, 255;
  --bs-code-color: #f18bba;
  --bs-highlight-color: #b2b3ca;
  --bs-highlight-bg: #665720;
  --bs-border-color: color-mix(in sRGB, #eaeaff 12%, #30334e);
  --bs-border-color-translucent: rgba(255, 255, 255, 0.09);
  --bs-form-valid-color: #72e128;
  --bs-form-valid-border-color: #72e128;
  --bs-form-invalid-color: #ff4d49;
  --bs-form-invalid-border-color: #ff4d49;
}
